pkgbase = makeuros
	pkgdesc = Customize your Arch Linux system identity and setup Docker containers for 18 self-hosted services
	pkgver = 1.0.26
	pkgrel = 1
	url = https://github.com/OfficialSpaceship/makeuros
	arch = any
	license = MIT
	depends = python
	source = makeuros.py::https://github.com/OfficialSpaceship/makeuros/releases/latest/download/makeuros.py
	sha256sums = SKIP

pkgname = makeuros
