pkgbase = makeuros
	pkgdesc = Customize your Arch Linux system identity and setup Docker containers for 19 self-hosted services
	pkgver = 1.0.24
	pkgrel = 1
	url = https://github.com/OfficialSpaceship/makeuros
	arch = any
	license = MIT
	depends = python
	source = makeuros.py::https://github.com/OfficialSpaceship/makeuros/raw/v1.0.24/makeuros.py
	sha256sums = SKIP

pkgname = makeuros